<div class="container log col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">   
 <% flash.each do |key, value| %>
   <%= content_tag(:div, value, class: "#{key} alert alert-info") %>
 <% end %>
 <% @blogs.each do |blog| %>　
   <div class="right-content"> 
     <p>投稿者: <%= blog.user.name %></p>
     <h2><%= blog.title %></h2>
     <p><%= link_to blog.content, blog_path(blog.id), class:"text-white" %></p> 
   </div> 
　<% end %>  
</div>
